<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore TODO List</title>
</head>
<body>
    <div>
        Today's date is @DateTime.Today.ToShortDateString()
    </div>
</body>
</html>
